<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>143000456157-fc1rl7749iaga6knsoauoiv4vm1fu2ie.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.143000456157-fc1rl7749iaga6knsoauoiv4vm1fu2ie</string>
	<key>API_KEY</key>
	<string>AIzaSyBdSoIp0H9-umsTiJvTeN3o8VF1UdUbAqM</string>
	<key>GCM_SENDER_ID</key>
	<string>143000456157</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskify</string>
	<key>PROJECT_ID</key>
	<string>taskify-app-1853c</string>
	<key>STORAGE_BUCKET</key>
	<string>taskify-app-1853c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143000456157:ios:1f27d2433312e375510434</string>
</dict>
</plist>